<div class="card">
  <%= yield :image %>
  <div class="card-body">
    <h5 class="card-title"><%= title %></h5>
    <% if content_for? :body %>
      <p class="card-text">
        <%= content_for :body, tag.with_options(class: "text-bold") %>
      </p>
    <% end %>
  </div>
</div>
