<div class="card">
  <%= partial.yield :image %>
  <div class="card-body">
    <h5 class="card-title"><%= title %></h5>
    <% if partial.section? :body %>
      <p class="card-text">
        <%# TODO: remove send pending https://github.com/bullet-train-co/nice_partials/pull/54 %>
        <%= partial.section(:body).send :yield, tag.with_options(class: "text-bold") %>
      </p>
    <% end %>
  </div>
</div>
