<div class="card">
  <%= partial.yield :image %>
  <div class="card-body">
    <h5 class="card-title"><%= partial.title %></h5>
    <% if partial.body? %>
      <p class="card-text">
        <%= partial.body.yield tag.with_options(class: "text-bold") %>
      </p>
    <% end %>
  </div>
</div>
